* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bg-opacity {
  background-color: rgb(255, 255, 255, 0.1);
}
body {
  background: #131a24;
  color: white;
}
header {
  position: relative;
  height: 100%;
  width: 100%;
}
header img {
  height: 450px;
  width: 100%;
}
.titre {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 30%;
  color: white;
  text-align: center;
}
.prix {
  background-color: rgba(131, 42, 42, 0.1);
  color: orange;
  border: 1px solid;
  border-radius: 20px;
}

h2 {
  background-color: rgba(131, 42, 42, 0.1);
  color: orange;
  border: 1px solid;
  width: 25%;
  border-radius: 20px;
  padding: 2px;
  text-align: center;
  margin-top: 10px;
}
.fst-italic {
  color: orange;
}
.p-kak {
  font-size: 1.5rem;
}
.date {
  background-color: rgb(255, 255, 255, 0.1);

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 25%;
  color: orange;
  width: 60%;
}
h1 {
  color: orange;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 2.5rem;
  font-weight: bold;
}
h3 {
  color: orange;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  font-style: oblique;
  font-size: 2rem;
}

.nav-orange-opacity {
  background-color: rgb(255, 255, 255, 0.1);
  color: orange;
}

p {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  box-sizing: border-box;
}
span {
  font-style: oblique;
  font-weight: 300;
  font-family: monospace;
  font-style: italic;
  font-size: 1rem;
  color: skyblue;
}
